<html>
	<head>
		<title>HOME</title>
	</head>
	<body bgcolor=0E1116>
      <p>
			<p>
		  <table border="1" width="60%" height="30%" cellpadding="5" bordercolor=0E1116 align="center">
				<tr bgcolor=640D14 align="center"><td style="color: #FFF8F0; font-family:Arial; font-size: 30">Это моя лаба по веб-дизайну, добавил её сюда, чтобы было :3</td></tr>
			</table>
			<p>

			<h2 style="color: #FFF8F0; font-family:Arial">Кот</h2>
			<hr color=640D14>
			<p style="color: #FFF8F0; font-family:Arial">Кот, или домашний кот (лат. Felis silvestris catus), — домашнее животное, одно из наиболее популярных(наряду с собакой) «животных-компаньонов».</p>

			<p style="color: #FFF8F0; font-family:Arial">С точки зрения научной систематики, домашний кот — млекопитающее семейства кошачьих отряда хищных. Ранее домашнего кота нередко рассматривали как отдельный 					биологический вид. С точки зрения современной биологической систематики домашний кот (Felis silvestris catus) является подвидом лесного кота (Felis silvestris).</p>

			<p style="color: #FFF8F0; font-family:Arial">Являясь одиночным охотником на грызунов и других мелких животных, кот — социальное животное, использующее для общения широкий диапазон звуковых сигналов, а также 					феромоны и движения тела.</p>

			<p style="color: #FFF8F0; font-family:Arial">В настоящее время, в мире насчитывается около 600 млн домашних котов, выведено около 200 пород, от длинношёрстных (персидский кот) до лишённых шерсти (сфинксы), 					признанных и зарегистрированных различными фелинологическими организациями.</p>

			<p style="color: #FFF8F0; font-family:Arial">На протяжении 10 000 лет коты ценятся человеком, в том числе за способность охотиться на грызунов и других домашних вредителей.</p>

			<p style="color:#FFF8F0;fontfamily:Arial">&#128293&#128293&#128293&#128293&#128293&#128293&#128293&#128293&#128293&#128293&#128293&#128293&#128293&#128293&#128293&#128293&#128293&#128293&#128293&#128293</p>

			<marquee behavior="scroll" direction="right" style="color: #DC143C;font-family:Century Gothic">quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack 				quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack 						quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack quack</marquee>

			<p>

			<h3 style="color: #FFF8F0; font-family:Arial" align=center> Виды котов</h>

			<p>

			<table border="1" width="100%" cellpadding="5" bordercolor=#FFF8F0>

				<tr><td style="color: #FFF8F0; font-family:Arial">Наименование кота</td><td style="color: #FFF8F0; font-family:Arial">Фотография кота</td><td style="color: #FFF8F0; font-family:Arial">Описание 						кота</td><td style="color: #FFF8F0; font-family:Arial">Любимые вещи кота</td></tr>

				<tr><td style="color: #FFF8F0; font-family:Arial">Грустный кот</td><td ><img src=https://www.newshub.co.nz/dam/form-uploaded-images-ordered/2019/08/08/KNOWYOURMEME-sad-cat-crying-1120.JPG width=200 						height=150></td><td style="color: #FFF8F0; font-family:Arial">Это очень грустный кот. У него украли сметану.</td><td style="color: #FFF8F0; font-family:Arial"><ul><li>У него нет любимых вещей, поэтому ему 					и грустно</li></ul></td></tr>

				<tr><td style="color: #FFF8F0; font-family:Arial">Недовольный кот</td><td><img src=https://i.kym-cdn.com/photos/images/newsfeed/001/505/718/136.jpg width=200 height=150></td><td style="color: #FFF8F0; 					font-family:Arial">Этому коту подали не его любимое блюдо. Он не доволен!</td><td style="color: #FFF8F0; font-family:Arial"><ul><li>Рыбка с вискасом</li><li>Вискас с рыбкой</li><li>Рыбкас с 							виской</li></ul></td></tr>

				<tr><td style="color: #FFF8F0; font-family:Arial">Коты-котоеды</td><td><img src=https://memeguy.com/photos/images/cats-eating-dinner-at-the-table-237369.jpg width=200 	height=150></td><td style="color: 					#FFF8F0; font-family:Arial">Эти коты любят есть котов. Но они едят не котов. Они едят рис в форме котов!!!! Как видите, эти коты очень глупые.</td><td style="color: #FFF8F0; font-family:Arial"><ul><li>Коты 				из риса</li><li>Другие коты-котоеды</li></ul></td></tr>

				<tr><td style="color: #FFF8F0; font-family:Arial">Испуганный кот</td><td><img src= https://i.ytimg.com/vi/2fb-g_V-UT4/hqdefault.jpg width=200 	height=150></td><td style="color: #FFF8F0; font-						family:Arial">Этого кота очень сильно напугали. Но не бойтесь! Ему нравится, когда его пугают.</td><td style="color: #FFF8F0; font-family:Arial"><ul><li>Призраки</li><li>Монстры</li><li>Пьяный батя с 					ремнём</li></ul></td></tr>

				<tr><td style="color: #FFF8F0; font-family:Arial">Хлебокот (Котохлеб)</td><td><img src= https://i.kym-cdn.com/entries/icons/original/000/008/589/558.jpg width=200 height=150></td><td style="color: #FFF8F0; 				font-family:Arial">Этот кот обречён на вечные страдания. Почему? Потому-что на его мордочке хлеб! Очень грустная история одного кота...</td><td style="color: #FFF8F0; font-family:Arial"><ul><li>Всё кроме 					хлеба</li></ul></td></tr>

				<tr><td style="color: #FFF8F0; font-family:Arial">Кот на ножках</td><td><img src= https://sun9-30.userapi.com/c845216/v845216194/18c41e/1HRV83cBv0I.jpg width=200 height=150></td><td style="color: 						#FFF8F0; font-family:Arial">Это аномальный кот... Он ходит на двух ногах (не лапах). Остерегайтесь его. Говорят, он ест педигри.</td><td style="color: #FFF8F0; 				font-						family:Arial"><ul><li>Педигри</li><li>Ходьба на двух ногах</li><li>Угроза передними лапками</li></ul></td></tr>
			</table>
<p>  </p>
<p>  </p>
<table border="1" width="100%" cellpadding="8" bordercolor=0E1116 >

<tr><td style="color: BAF2BB; font-family:arial" bgcolor=640D14><ol type=a><li>Рыбка с вискасом</li><li>Вискас с рыбкой</li><li>Рыбкас с 	виской</li></ol></td><td style="color: BAF2BB; font-family:Courier" bgcolor=640D14><ol type=I><li>Рыбка с вискасом</li><li>Вискас с рыбкой</li><li>Рыбкас с виской</li></ol></td><td style="color: #E0CA3C; font-family:Times New Roman" rowspan=4 bgcolor=345830><ul type=square><li>Рыбка с вискасом</li><ol type=A><li>Рыбка с вискасом</li><li>Вискас с рыбкой</li><li>Рыбкас с виской</li></ol></ol></td></tr>

<tr><td style="color: BAF2BB; font-family:Georgia" bgcolor=640D14><ol type=i><li>Рыбка с вискасом</li><li>Вискас с рыбкой</li><li>Рыбкас с 	виской</li></ol></td><td style="color: BAF2BB; font-family:Lucida" bgcolor=640D14><ol type=1><li>Рыбка с вискасом</li><li>Вискас с рыбкой</li><li>Рыбкас с виской</li><ol></td></tr>

<tr><td colspan=2><table border="1" width="100%" cellpadding="5" bordercolor=0E1116><tr><td style="color: #FFF8F0; font-family:Arial" bgcolor=443742><ul type=disc><li>Рыбка с вискасом</li><li>Вискас с рыбкой</li><li>Рыбкас с виской</li></ul></td><td style="color: #FFF8F0; font-family:Arial" bgcolor=443742><ul type=circle><li>Рыбка с вискасом</li><li>Вискас с рыбкой</li><li>Рыбкас с виской</li></ul></td></tr><tr><td style="color: #FFF8F0; font-family:Arial" bgcolor=443742><ul type=square><li>Рыбка с вискасом</li><li>Вискас с рыбкой</li><li>Рыбкас с виской</li></ul></td><td style="color: #FFF8F0; font-family:Arial" bgcolor=443742><img src=https://sun9-23.userapi.com/c851320/v851320923/1c5a35/TcOjk2-iH5w.jpg width=250 height=80></td></tr></table></td></tr>

</table>
	</body>
</html>
